html, body {
    font-family: Arial;
    margin: 0;
    height: 100%;
    background-image: url("../images/bali.jpg");
    background-size: cover;
    width: 100%;
    overflow-y: hidden;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}
.row{
    margin: 0;
}

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
    border: 15px solid #fff;
    padding: 0;
}

/* Hide the images by default */
.mySlides {
    display: none;
    max-height: 640px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px 21px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
    background-color: #000;
    border-radius: 50%;
}

/* Position the "next button" to the right */
.next {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff!important;
    text-decoration: none!important;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #fff;
    padding: 15px 15px;
    color: #000;
    font-size: 30px;
    border-top: 5px solid #000;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
    border: 5px solid #000;
    max-height: 109px;
    height: 100%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}